<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/TasksModel.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-energized">
        <h1 class="title">Tarefas</h1> <!--Vídeo 03-->
      </ion-header-bar>
        <ion-footer-bar class="bar-calm"><!--Vídeo 07-->
            <div class="row">
                <div class="col-90">
                    <strong>Exibir Finalizadas</strong>
                </div>
                <div class="col-10">
                    <label class="toggle">
                        <input type="checkbox" ng-model="showMarked"><!--Vídeo 07-->
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
                </div>
            </div>
            
        </ion-footer-bar>
        <ion-content ng-controller="mainController"><!-- Vídeo 04-->
            <div class="row">
                <div class="col">
                    <button class="button button-block button-positive" ng-click="onItemAdd()">Adicionar</button><!--Vídeo 09-->
                </div>
                <div class="col">
                    <button class="button button-block button-assertive" ng-click="onClickRemove()">Remover</button><!--Vídeo 08-->
                </div>
            </div>
            <ion-list show-delete="removeStatus"><!--Vídeo 05--><!--Show delelte só no Vídeo 08-->
                <ion-item ng-repeat="item in items track by $index" ng-hide="onShowItem(item)"><!--Vídeo 07-->
                    <div class="row"><!--Vídeo 6-->
                        <div class="col-90"><!--Vídeo 6-->
                            {{item.nome}}
                            <ion-delete-button class="ion-minus-circled" ng-click="onItemRemove(item)"></ion-delete-button><!--Vídeo 08-->
                            <ion-option-button class="button-positive" ng-click="onItemEdit(item)">Editar</ion-option-button><!--Vídeo 10-->
                        </div>
                        <div class="col-10">
                            <button class="button button-small button-positive button-outline" ng-click="onMarkTask(item)"><i class="icon ion-checkmark" ng-show="item.finalizada"></i></button><!--Vídeo 06-->
                        </div>
                    </div>
                </ion-item>
            </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
